{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/About.css' %}" />
  </head>
  <body>
    {% include 'Navbar.html' %}
    <div class="about-box">
      <div class="about-left">
        <h2>🏋️ Our Mission</h2>
        <p>
          At Elite Gym, our mission is to empower individuals to achieve their
          fitness goals with expert guidance, world-class equipment, and a
          motivating environment. We believe fitness is not a destination, it's
          a lifestyle.
        </p>
      </div>
      <div class="about-right">
        <img
          src="https://static.vecteezy.com/system/resources/previews/031/691/772/non_2x/within-gym-with-modern-fitness-equipment-for-fitness-events-and-more-modern-of-gym-interior-with-equipment-sports-equipment-in-the-gym-created-with-generative-ai-photo.jpg"
          alt="Error"
        />
      </div>
    </div>
    <div class="about-box">
      <div class="about-right">
        <img src="https://wallpaperaccess.com/full/5595925.jpg" alt="Error" />
      </div>
      <div class="about-left">
        <h2>💪 Our Trainers</h2>
        <p>
          Our certified and experienced trainers are passionate about health and
          wellness. Whether you’re a beginner or an athlete, they’ll create
          personalized plans to help you reach your full potential safely and
          effectively.
        </p>
      </div>
    </div>
    <div class="about-box">
      <div class="about-left">
        <h2>🏠 Our Facilities</h2>
        <p>
          From high-tech cardio equipment to strength zones, group classes, and
          recovery areas — Elite Gym offers a premium facility that inspires
          performance and comfort. Experience a gym designed for transformation.
        </p>
      </div>
      <div class="about-right">
        <img src="https://wallpaperaccess.com/full/5469421.jpg" alt="Error" />
      </div>
    </div>
    <div class="about-DevDetails">
      <div class="about-Devbox">
        <p>Developer -- Sani Momin</p>
      </div>
    </div>
  </body>
</html>
