{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Contact.css' %}" />
</head>
<body>
    {% include 'Navbar.html' %}
    <div class="contact-wrapper">
        <div class="contact-container">
            <div class="contact-left">
                <p>At Elite Gym, we're always here to help you on your fitness journey. Whether you're looking to join our training programs, need assistance with your membership, or simply want to learn more about our facilities, our team is just a call or message away. We pride ourselves on offering expert support, world-class amenities, and a community-driven environment. Don’t hesitate to reach out — your transformation starts here.</p>
                <h3>Contact:</h3>
                <p>📞 9172533340</p>
                <p>📞 9834595098</p>
                <p>📧 Email: info@elitegym.com</p>
                <p>📍 Location: Elite Gym, Kalyan Naka, Bhiwandi, 421302</p>
            </div>
            <div class="contact-right">
                <img src="https://cdn2.vectorstock.com/i/1000x1000/16/01/graphic-cartoon-character-contact-us-vector-34981601.jpg" alt="Error">
            </div>
        </div>
    </div>
</body>
</html>